.Rproj.user
.Rhistory
.RData
.Ruserdata
Coefficients-Italy.pdf
iforecast.pdf
importance-Italy.pdf
importance-Japan.pdf
importance2-Italy.pdf
importance2-Japan.pdf
isumm.rda
isummary.pdf
isummaryPos.pdf
jforecast.pdf
jsumm.rda
jsummary.pdf
jsummaryPos.pdf
sem-ita-paper.pdf
sem-jpn-paper.pdf
summary.pdf
